/* Media query for Mobile devices (devive with <= 480px) */
@media only screen and (max-width: 480px) {
  /*
  */
  /* *******   PAGE LAYOUT SETTINGS   ****** */
  .TopBar {
    height: 10%;
  }

  #main-container {
    flex-direction: column;
    flex-direction: column-reverse;
    overflow: hidden;
    justify-content: space-evenly;
  }

  /* ------ DISPLAY SECTION ELEMENTS--------*/
  #display-section {
    overflow: auto;
  }

  #display-container {
    height: 100%;
    overflow: auto;
  }

  /* ------- BUTTON SECTION ELEMENTS  ------ */
  #button-section {
    background: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: auto;
  }

  #button-container {
    width: 100%;
  }

  .button {
    border-radius: 2px;
    width: 90%;
    background: #64ca4a;
  }

  /* ----- FORM ELEMENTS ------ */
  form {
    font-weight: normal;
    width: 90%;
  }

  /* ****************   STYLINGS FOR INDIVIDUAL PAGES   **********************/

  /* RegistrationPage.jsx*/
  #registration-form {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: rgba(255, 255, 255, 0.808);
    padding: 20px 2px;
  }

  /*HomePage.jsx*/
  #home {
    width: 100%;
    font-size: 5.5vw;
    overflow: hidden;
  }
  #home i {
    font-size: 3.5vw;
  }

  /* SearchResultPage.jsx*/
  #search-result-page {
    padding: 0;
    width: 100vw;
    font-size: 0.8em;
    overflow: auto;
  }
  .result-element {
    flex-direction: column;
    border: 1px;
    padding: 0;
    margin: 15px 5px 5px 5px;
    height: 150px;
    border-radius: 10px;
  }
  .info-section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .title {
    display: flex;
    height: 40px;
    border-radius: 0px;
    align-items: center;
  }
  .description {
    align-items: center;
    text-align: justify;
    padding: 0px 7px 1px 7px;
  }
  .created-date {
    justify-content: center;
    height: 20px;
    font-size: 0.8em;
    padding-right: 5px;
  }

  .btn-section {
    height: 20px;
  }
  .btn-section button {
    border-radius: 0px;
    margin: 0;
    font-size: 10px;
    height: 100%;
    width: 100%;
  }

  .NavBarPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5%;
  }
}
