/* Media query for Mobile devices (landscape and portrait) */
@media only screen and (max-width: 767px) {
  #pageWrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  .TopBar {
    display: flex;
    height: 12%; /* the rest of the height is assigned to main-container*/
    max-width: 100%;
    overflow: hidden;
  }
  #logo-section {
    display: flex;
    height: 60px;
    width: 100%;
  }

  .NavSection {
    height: 100%;
    width: 100%;
  }
  #navigation-bar {
    max-width: 100%;
    max-height: 100%;
  }
  #navigation-bar ul {
    display: flex;
  }
  .NavSection li {
    border: 1px solid rgba(83, 83, 83, 0.267);
    height: auto;
  }

  #main-container {
    display: flex;
    flex-direction: column-reverse;
    height: 88%; /* Other 25% is assigned to Top-bar*/
    width: 100%;
    overflow: visible;
  }

  #button-section {
    display: flex;
    border: 1px solid rgb(29, 6, 235);
    height: 100px;
    flex: none;
    overflow: hidden;
  }

  #display-section {
    display: flex;

    width: 100%;
    height: auto;
    align-items: center;
    border: 1px solid rgb(235, 201, 6);
  }
}

/* Media query for Tablet devices (landscape and portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for Tablet */
}

/* Media query for PC devices */
@media only screen and (min-width: 1025px) {
  /* Styles for PC */
}
