/* Media query for Mobile devices (landscape and portrait) */
@media only screen and (max-width: 480px) {
  .TopBar {
    position: fixed;
    width: 100vw;
    flex-direction: column;
    height: 75px;
    opacity: 0.8;
    align-items: center;
  }

  #main-container {
    flex-direction: column-reverse;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    top: 75px;
    height: calc(100vh - 75px);
  }

  /* DISPLAY AREA ----------------------*/
  #display-section {
    display: flex;
    flex-direction: column;
    flex: 2; /* takes 2/3 of the total display width*/
    height: 100%;
    width: 100%;
  }

  /* BUTTON AREA -----------------------*/
  #button-section {
    display: flex;
    flex: 0;
    background: none;
    height: auto;
  }

  #button-container {
    display: grid;
  }

  .button {
    border-radius: 2px;
    background: #64ca4a;
  }

  #home {
    width: 100%;
    font-size: 5.5vw;
    overflow: hidden;
  }
  #home i {
    font-size: 3.5vw;
  }

  /* FORM ELEMENTS */
  form {
    font-weight: normal;
    width: 90%;
  }
  #search-result-page {
    padding: 5px;
  }
  .result-element {
    display: grid;
    column-gap: 2px;
    align-items: center;
    height: 150px;
    box-shadow: 0 0 2px rgb(20, 20, 20);
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 0px 20px 20px 20px;
    overflow: hidden;
  }
  .info-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 115px;
  }
  .title {
    font-size: 0.8em;
    padding: 5px;
    height: 15px;
    background: rgba(8, 8, 8, 0.164);
    border-radius: 0px;
    font-weight: bold;
  }
  .description {
    height: 90px;
    margin: 0;
    padding: 10px 5px 10px 10px;
    font-family: "Signika", sans-serif;
    font-weight: lighter;
    font-size: 3.5vw;
  }
  .created-date {
    font-size: 2.5vw;
    width: 100%;
    margin: auto;
    color: rgba(0, 0, 0, 0.637);
    background: rgba(153, 190, 16, 0.199);
    border-top: 1px solid rgba(0, 0, 0, 0.041);
  }

  .btn-section {
    display: flex;
    height: 35px;
  }
  .btn-section .button {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px rgb(20, 20, 20);
  }

  .NavBarPage {
    margin-top: 15%;
  }
}
