/*
===================================================================================
This CSS file holds styles  for the elements that renders in the "Display Section".
===================================================================================
*/

/* This class is assigned ONLY for the fixed-pages that are assigned to each navigation-bar buttons
/*-------------------------------------------------------------------------------------------------*/
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 400%;
  color: white;
  animation: fadeIn 8s forwards ease-in-out 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.NavBarPage {
  height: 100%;
  overflow: auto;
  padding: 15px;
  background: rgba(255, 255, 255, 0.932);
}

/* 
===========================================
Search.jsx
(Contains the form for searching for users)
___________________________________________
*/
#search-form {
  display: flex;
  height: 100%;
  background: rgba(255, 255, 255, 0.932);
  justify-content: center;
  align-content: center;
}
