#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  background: #283739;
  height: auto;
  text-align: left;
  color: white;
  box-shadow: 0 0 5px rgb(68, 68, 68);
  padding-left: 3%;
  font-variant: small-caps;
}

h3,
li {
  text-transform: capitalize;
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  padding-top: 15%;
  padding-bottom: 15%;
}

label {
  margin-top: auto;
  margin-bottom: 3px;
}

input {
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(187, 187, 187);
}

select {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 25px;
  box-shadow: 0 0 5px rgb(187, 187, 187);
}

textarea {
  height: 20%;
  resize: vertical;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgb(187, 187, 187);
}

#pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#pageWrapper video {
  width: 100%;
}

#topBar {
  display: flex;
  flex-direction: column;
  height: 15%;
  z-index: 1;
  opacity: 0.8;
  align-items: center;
}

#logoSection {
  display: flex;
  height: 75%;
  margin: 0;
  width: 100%;
  justify-content: center;
  background-color: white;
}

#logoSection img {
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}

#navSection {
  display: flex;
  height: 25%;
  width: 100%;
}

#navBar {
  display: flex;
  width: 100%;
  height: 100%;

  padding: 0;
}

#navBar ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1;
}

.navBarClass li {
  display: flex;
  flex: 1; /* equal width */
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  white-space: nowrap;
  font-variant: small-caps;
  background: #3f4b0da9;
  padding: 10px;
  border: 1px solid rgb(83, 83, 83);
}

.navBarClass a {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; /* vertical */
}

.navBarClass li:hover {
  background: #a2c11c;
  cursor: pointer;
}

.navBarClass a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  font-variant: small-caps;
  background: #0c0c0c;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 5px rgb(58, 58, 58);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #bdc019;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#main-container {
  display: flex;
  height: 100%;
}

#buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
}

#buttonContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
}

#displaySection {
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
