/*
===================================================================
This CSS file holds styles for individual pages and their elements.
===================================================================

==================================================
HomePage.jsx
(Home page + Quote text animation)
__________________________________________________
*/
#home {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  text-align: right;
  font-family: "Shadows Into Light", cursive;
  color: rgb(243, 243, 243);
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 1);
  animation: fadeIn 5s forwards ease-in-out 0s;
}
#home i {
  font-size: 1.5vw;
}
/* The quate appears for 5 seconds*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =======================================================================================================================
This class is assigned ONLY used for the pages that are directly displayed when the user clicks on navigation-bar buttons.
These pages are static. Therefore, these settings apply for ALL of them.
__________________________________________________________________________________________________________________________
*/
.NavBarPage {
  height: 100%;
  overflow: auto;
  padding: 0px 20%;
  background: white;
  text-align: justify;
}

/* 
=====================================================
SearchPage.jsx  &  RegistrationPage.jsx
(forms for search/registration)
_____________________________________________________
*/
#search-form,
#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  background: rgba(255, 255, 255, 0.808);
  overflow: auto;
  padding: 20px 2px;
}

#search-form {
  justify-content: center;
}

#search-form button,
#registration-form button {
  height: 50px;
  border-radius: 10px;
  font-variant: small-caps;
  background: #33f103be;
  color: rgb(5, 5, 5);
  font-size: 1rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.432);
  white-space: nowrap;
  margin-top: 10px;
}

#search-form button:hover,
#registration-form button:hover {
  background: #33f103;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  cursor: pointer;
}

/* 
====================================================================================
SearchPage.jsx
This custom component is used to wrap brief user details in the search results page. 
____________________________________________________________________________________
*/
#search-result-page {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  overflow: scroll;
  max-width: 100%;
  padding: 0;
}

.result-element {
  display: flex;
  background-color: rgba(48, 253, 7, 0.137);
  height: 120px;
  box-shadow: 0 0 5px rgb(20, 20, 20);
  padding: 10px 20px 10px 20px;
  margin: 15px 5vw;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.info-section {
  display: flex;
  flex-direction: column;
  flex: 3;
  overflow: hidden;
}
.title {
  align-items: center;
  height: 20px;
  background: rgb(132, 245, 3);
  border-bottom-right-radius: 10px;
  font-weight: bold;
  padding-left: 10px;
}
.description {
  height: 80px;
  overflow: hidden;
  line-height: 1;
  margin: 10px 0px 10px 0px;
  font-family: "Signika", sans-serif;
}

.created-date {
  text-align: right;
  height: 20px;
  font-size: small;
  font-weight: bold;
}

.btn-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-section button {
  width: auto;
  height: 30px;
  border-radius: 5px;
  background: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 1px rgb(20, 20, 20);
}

/* 
=====================================================
ProfilePage.jsx
(Contains user's profile information)
_____________________________________________________
*/
#user-profile {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: rgb(255, 255, 255);
  height: 100%;
  overflow: auto;
}

#user-profile #name-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 10%;
  width: 100%;
  background: rgb(0, 245, 0);
}

#user-profile #info-side {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#user-profile #about-side {
  text-align: justify;
  padding: 0px 25px;
  border-top: 5px solid rgba(0, 0, 0, 0.329);
  border-top-style: groove;
  text-align: center;
}

/* 
=======================================================================================
MessageBox.jsx
This element is used to display messages to the user. (eg. Registration is successful!)
_______________________________________________________________________________________
 */
.msg-to-user {
  margin: auto;
  padding: 0px 15px;
}

.mb-heading {
  padding: 0;
  background: green;
  text-align: center;
}
.mb-text {
  text-align: center;
}
